<table class="comparison-table">
  <thead>
    <tr>
      <td class="is-size-5">Players</td>
      <td class="name-and-img-cell">
        <div>
          <img class="rounded-img" src='<%= image_url "players/1.jpeg" %>' width="128px"/>
          <div>
            Leonel Messi
          </div>
        </div>
      </td>
      <td class="name-and-img-cell">
        <div>
          <img class="rounded-img" src='<%= image_url "players/1.jpeg" %>' width="128px"/>
          <div>
            Ronaldo Cristiano
          </div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <% comparisons = {
      nationality: {label: 'Nationality', image: 'nationality.png', key: 'nationality'},
      club: {label: 'Current Club', image: 'club.png', key: 'club'},
      jersey_no: {label: 'Jersey No', image: 'jerseyno.png', key: 'jersey_no'},
      age: {label: 'Current Age', image: 'age.png', key: 'age'},
      position: {label: 'Position', image: 'assists.png', key: 'position'},
      netWorth: {label: 'Net Worth', image: 'networth.png', key: 'networth'},
      avgStars: {label: 'Avg. Stars', image: 'stars.png', key: 'avgstars'},
      trophies: {label: 'Trophies', image: 'trophies.png', key: 'trophies'},
      goals: {label: 'Goals', image: 'goals.png', key: 'goals'},
      assists: {label: 'Assists', image: 'assists.png', key: 'assists'},
      yellowCard: {label: 'Yellow Cards', image: 'yellowcard.png', key: 'yellowcards'},
      redCard: {label: ' Red Cards', image: 'redcard.png', key: 'redcards'},
      appearance: {label: 'Appearance', image: 'appearance.png', key: 'appearance'},
      height: {label: 'Height', image: 'height.png', key: 'height'},
    } %>

    <% comparisons.keys.each do |key| %>
      <tr>
        <td class="<%= key %>">
            <%= render partial: "partials/label_and_img", locals: { 
              image_name: comparisons[key][:image],
              label: comparisons[key][:label],
              dont_scale: true,
              justify_center: true,
              no_border: true
            } %>
        </td>
        <td class="<%= comparisons[key][:key] %>-player-1"></td>
        <td class="<%= comparisons[key][:key] %>-player-2"></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
  async function setupComparisonTable() {
    var player1 = await (await fetch('/player/json/1')).json()
    var player2 = await (await fetch('/player/json/3')).json()
    var player1Score = 0
    var player2Score = 0
    var keys = ['networth', 'trophies', 'goals', 'assists', 'appearance', 'greencards', 'redcards', 'yellowcards', 'position', 'networth', 'nationality', 'age', 'height', 'club', 'avgstars', 'jersey_no']

    player1.avgstars = ((player1.five_stars * 5) + (player1.four_stars * 4)  + (player1.three_stars * 3) + (player1.two_stars * 2) + (player1.one_stars * 1))/(player1.five_stars + player1.four_stars + player1.three_stars + player1.two_stars + player1.one_stars) || 0

    player2.avgstars = ((player2.five_stars * 5) + (player2.four_stars * 4)  + (player2.three_stars * 3) + (player2.two_stars * 2) + (player2.one_stars * 1))/(player2.five_stars + player2.four_stars + player2.three_stars + player2.two_stars + player2.one_stars) || 0

    keys.map(key => {
      $(`.${key}-player-1`).text(player1[key])
      $(`.${key}-player-2`).text(player2[key])
      if(typeof(player1[key]) != 'number' || typeof(player2[key]) != 'number' || key == 'age' || key == 'jersey_no')
        return

      if(player1[key] == player2[key])
        $(`.${key}-player-1,.${key}-player-2`).addClass('yellow').removeClass('red green')
      else if(((key == 'yellowcards' || key == 'redcards') && player1[key] < player2[key] ) || ((key != 'yellowcards' && key != 'redcards') && player1[key] > player2[key])) {
        $(`.${key}-player-1`).addClass('green').removeClass('red')
        $(`.${key}-player-2`).addClass('red').removeClass('green')
        player1Score += 1
      }
      else {
        $(`.${key}-player-1`).addClass('red').removeClass('green')
        $(`.${key}-player-2`).addClass('green').removeClass('red')
        player2Score += 1
      }
    })
    Object.keys(player1).map(key => {
      console.log(key)
    })
  }
  setupComparisonTable();
</script>
