<div class="player-info">
  <div class="name-and-rate-block mb-30 flex justify-space-between align-center">
    <h1 class="is-size-1 has-text-weight-bold"><%= @player.name %></h1>
    <div>
      <div class="player-rating starrr"></div>
    </div>
  </div>
  <div class="player-header mt-50">
    <div class="info">
      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'goals.png',
        label: 'Goals',
        value: @player.goals,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'assists.png',
        label: 'Assists',
        value: @player.assists,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'trophies.png',
        label: 'Trophies',
        value: @player.trophies,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'position.png',
        label: 'Position',
        value: @player.position,
      } %>
    </div>
    <div class="img scale-30">
      <img class="rounded-img" width="200" src="<%= image_url "players/#{@player.id}.jpeg" %>" >
    </div>
  </div>
  <div class="secondary-stats mt-100">
    <h1 class="is-size-3">Other Stats</h1>
    <div class="flex flex-wrap justify-space-between">
      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'greencard.png',
        label: 'Green Cards',
        value: @player.redcards,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'redcard.png',
        label: 'Red Cards',
        value: @player.redcards,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'yellowcard.png',
        label: 'Yellow Cards',
        value: @player.yellowcards,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'nationality.png',
        label: 'Nationality',
        value: @player.nationality,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'networth.png',
        label: 'Net Worth',
        value: @player.networth,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'appearance.png',
        label: 'Appearances',
        value: @player.appearance,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'jerseyno.png',
        label: 'Jersey No',
        value: @player.jersey_no,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'outfitter.png',
        label: 'Outfitter',
        value: 'Adidas',
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'age.png',
        label: 'Current Age',
        value: 20,
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'club.png',
        label: 'Current Club',
        value: 'Liverpool',
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'height.png',
        label: 'Height',
        value: '5"9',
      } %>

      <%= render partial: "partials/label_and_img", locals: { 
        image_name: 'foot.png',
        label: 'Foot',
        value: 'Left',
      } %>
    </div>
  </div>
</div>

