<div class="card has-text-centered column mt-50 ml-25 mr-25">
  <div class="card-image">
    <figure class="">
      <img src="<%= image_url "players/#{player.id}.jpeg" %>" alt="Placeholder image" height=100>
    </figure>
  </div>
  <div class="card-content ">
    <div class="media">
      <div class="media-content has-text-centered ">
        <p class="title is-4"><a href='/player/show/<%= player.id %>'><%= player.name %></a>
      </div>
    </div>
    <div class="content">
      <ul>
        <li><%= player.nationality %></li>
        <li><%= player.club || 'No Club' %></li>
        <li><%= player.goals %> Goals</li>
        <li><%= player.trophies %> Trophies</li>
        <li><%= player.age %> Years Old</li>
      </ul>
    </div>
  </div>
</div>
